<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Meretas" connectionString="Server=143.95.78.176; Database=lachica1_Meretas; Persist Security Info=true;User ID=lachica1_admin1; Password=Meretas2017!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
