/*Index Page*/
#Logo{
    background-color: green;
    height: 7em;
}
#Nav{
    background-color: white;
    height: 98px;
    color: white;
    font-size: large;
    padding-top: 20px;
    
}

.a{
    color:white;
}

#background{
    background-image: url("https://media.giphy.com/media/r1CCFBgsTiFPy/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#MainContent{
    background-image: ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50em;
    text-align: center;
    overflow:hidden;
    
}

#CenterPane{
    font-size: 20px;
    text-align: center;
    transition: ease-in-out 1s;
    width: 100%;

}

.CenterPaneChange{
    transform: translate(-2000px);
}

#LoginPane{
    color:white;
    transition: transform ease-in-out 1s;
    float:right;
    right: -1650px;
    top: 20vh;
    position: absolute;
    
}

.LoginPaneChange{
    transform: translate(-2000px);
}

#Meretas{
    transition: transform ease-in-out 1s;
    position: absolute;

}

.MeretasAnim{
    transform: translate(500px,230px);
 
    
}

#CenterContent{
    position: relative;

}


h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
#Shout{
    color: white;
    text-align:center;
}   


#startButton {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #ff944d;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
}

#startButton:hover {
  background:#ff751a;
  text-decoration: none;
  color: white;
}

#loginButton{
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ff944d;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

#loginButton:hover{
  background:#ff751a;
  text-decoration: none;
  color: white;
}

#footer{
    background-color: black;
    top:2vh;
    height: 5vh;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff944d;
}

.form-group > input{
     color: #ff944d;
     width: 30vh;
     float: right;
}


/*Question Page*/
#LeftTitle{
    height: 80vh;
    color: white;
    background-color:black;
}

#RightQuestion {
    top: 6vh;
    height: 60vh;
    color: black;
    background-color: white;
    border-radius: 25px;
    background-image: url('../Images/QuestionBackground.jpg');
    background-size: cover;
}

#QuestionBackground{
    background-image: url("https://static.pexels.com/photos/4097/city-cars-traffic-lights.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  

}

hr.style-eight {
     padding: 0; 
     border: none; 
     border-top: medium double #ff944d;
     color:  #ff944d;
     text-align: center; 
}

hr.style-eight:after { 
    content: "$"; 
    display: inline-block; 
    position: relative; 
    top: -14px; 
    font-size: 18px; 
    padding: 0 10px; 
    background: white; 
}

#nextButton {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #ff944d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#nextButton:hover {
  background:#ff751a;
  text-decoration: none;
  color: white;
}

#control{
    top: 23vh;
    height: 10vh;
    left: 73vh;
}
#control2{
    top: 22.5vh;
    height: 10vh;
    left: 73vh;
}
#control3{
    top: 20.5vh;
    height: 10vh;
    left: 73vh;
}
#control4{
    top: 12.5vh;
    height: 10vh;
    left: 73vh;
}

#control5{
    top: 22vh;
    height: 10vh;
    left: 63vh;
}

label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 18px;

}

input[type=radio]{
    display: none;
}

label:before{
    border-radius: 25px;
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;

    background-color:  #ff944d;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 16.7px;
}

#RadioText{
    font-size: 18px;
    
}


/*Results Page*/

#ResultPane{
    top: 6vh;
    height: 60vh;
    color:black;
    background-color: white;
    border-radius: 25px;
}